<div class="adapt">

    <h2>Adapter ses cours</h2>

<p>Adapter son cours à distance peut être assez fastidieux. Pour avoir un cours intéressant et complet, il faut que vous soyez prêt à y consacrer du temps.</p>

<img class="taille_symbole" src="/assets/Iconographie/adapter_ses_cours/x.svg" alt="icone erreur">
<p class="consigne">Les erreurs à éviter</p>

<img class="taille_adapt" src="/assets/Iconographie/adapter_ses_cours/pdf.svg" alt="icone pdf">
<p class="text_box">Envoyer des tonnes de PDF et de mails à vos élèves <b>sans aucune explication</b></p>

<img class="taille_symbole" src="/assets/Iconographie/adapter_ses_cours/v.svg" alt="icone coche">
<p class="consigne">Les techniques à privilégier</p>

<img class="taille_adapt" src="/assets/Iconographie/adapter_ses_cours/vidéos.svg" alt="icone vidéo">
<p class="text_box"><b>Utiliser des vidéos courtes et concises</b> pour que l'élève puisse comprendre une nouvelle notion</p>

<img class="taille_adapt" src="/assets/Iconographie/adapter_ses_cours/objectifs.svg" alt="icone cible">
<p class="text_box"><b>Revoir ses objectifs.</b>Un cours en distanciel ne peut pas être aussi détaillé qu'un cours en présentiel.</p>

<img class="taille_adapt" src="/assets/Iconographie/adapter_ses_cours/sondage.svg" alt="icone sondage">
<p class="text_box"><b>Sonder votre public.</b>Les élèves sont en quelques sortes un public. Essayez de voir quelles plateformes leurs plaisent et comment ils aiment travailler.</p>

</div>