<h2>Adapter ses cours</h2>
<p>Adapter son cours à distance peut être assez fastidieux. Pour avoir un cours intéressant et complet, il faut que vous soyez prêt à y consacrer du temps.</p>
<p>Les erreurs à éviter</p>
<p>Envoyer des tonnes de PDF et de mails à vos élèves <b>sans aucune explication</b></p>
<p>Les techniques à privilégier</p>
<p><b>Utiliser des vidéos courtes et concises</b> pour que l'élève puisse comprendre une nouvelle notion</p>
<p><b>Revoir ses objectifs.</b>Un cours en distanciel ne peut pas être aussi détaillé qu'un cours en présentiel.</p>
<p><b>Sonder votre public.</b>Les élèves sont en quelques sortes un public. Essayez de voir quelles plateformes leurs plaisent et comment ils aiment travailler.</p>
