<h2>Animer ses cours</h2>
<p>Le problème que l’on peut rencontrer à distance c’est de tomber dans le cours trop théorique. L’élève est assis seul derrière son écran et il écoute le professeur.
    Voici trois techniques d’animation pour créer de l’interaction :</p>

<div>

        <h3>L'exposé</h3>

</div>

<div>

    <p><b>L’exposé (ou la démonstration)</b> ici, vous présenterez votre cours de manière structuré à vos élèves. Vous pouvez également partager votre écran pour diffuser un diaporama, une vidéo, parler face caméra ou encore écrire sur un tableau blanc.</p>
    
</div>

<div>

    <h3>L’interaction</h3>

</div>

<div>

<p><b>Il est important de constamment solliciter vos élèves</b>, leur attention est encore plus difficile à tenir, car en distanciel le lien élève /professeur peut rapidement être perturbé.</p>

</div>

<div>

    <h3>Les activités de groupe</h3>

</div>

<div>

<p><b>Des Quizz, des QCM, des sondages peuvent être des solutions intéressantes.</b> En travaillant ensemble les élèves pourront confronter leurs idées, discuter avant de revenir dans le salon principal pour faire le rendu.</p>

</div>