<section class="animer ">
  <h2 class=" line-progress">Animer ses cours</h2>

  <p class="avant_section">
    Le problème que l’on peut rencontrer à distance c’est de tomber dans le
    cours trop théorique. L’élève est assis seul derrière son écran et il écoute
    le professeur. Voici trois techniques d’animation pour créer de
    l’interaction :
  </p>
  <div class="container-bulle-section-animer">
  <div class="bulle-section-animer">
    <h3><b>L'exposé</b></h3>

    <p>
      <b>L’exposé (ou la démonstration)</b> ici, vous présenterez votre cours de
      manière structuré à vos élèves. Vous pouvez également partager votre écran
      pour diffuser un diaporama, une vidéo, parler face caméra ou encore écrire
      sur un tableau blanc.
    </p>
  </div>
  <div class="bulle-two-section-animer">
    <h3><b>L’interaction</b></h3>

    <p class=><b>Il est important de constamment solliciter vos élèves</b>, leur
        attention est encore plus difficile à tenir, car en distanciel le lien
        élève /professeur peut rapidement être perturbé.
    </p>
  </div>
  <div class="bulle-three-section-animer">
    <h3><b>Les activités de groupe</b></h3>

    <p> <b
        >Des Quizz, des QCM, des sondages peuvent être des solutions
        intéressantes.</b
      >
      En travaillant ensemble les élèves pourront confronter leurs idées,
      discuter avant de revenir dans le salon principal pour faire le rendu.
    </p>
  </div>

<!--   <br />

  <div class="titre_section">
    <h3 class="titre_color"><b>L’interaction</b></h3>
  </div>

  <div class="contenu_section">
    <p class="paragraphe">
      <b>Il est important de constamment solliciter vos élèves</b>, leur
      attention est encore plus difficile à tenir, car en distanciel le lien
      élève /professeur peut rapidement être perturbé.
    </p>
  </div>

  <br />

  <div class="titre_section">
    <h3 class="titre_color"><b>Les activités de groupe</b></h3>
  </div>

  <div class="contenu_section">
    <p class="paragraphe">
      <b
        >Des Quizz, des QCM, des sondages peuvent être des solutions
        intéressantes.</b
      >
      En travaillant ensemble les élèves pourront confronter leurs idées,
      discuter avant de revenir dans le salon principal pour faire le rendu.
    </p>
  </div>
</div> -->

  
</section>
