<div class="comments">
    <br>
    <h1 class="bravo">BRAVO !</h1>
    <br>
    <center><img class="trophee" src="/assets/Iconographie/trophy.svg" alt="icone trophée"></center>

    <p class="text_comments">Maintenant vous êtes au top pour maintenir une bonne dynamique dans vos cours à distance !
    </p>
</div>

<div id="my-slider" class="tns-ovh">
    <!--slider------------------->
    <ul id="Witdh-comments" class="cs-hidden slider-comments">
        <!--1------------------------------>
        <li class="item-a slider-comments">
            <!--slider-box-->
            <div class="box-blanche-slide">
                <!--Prenom et Nom de la personne-->
                <h3 class="info">Anne-Sophie</h3>
                <p>"Étant moi-même professeur, ces conseils m'ont beaucoup aidé. Petit conseil personnel : le plus important pour réussir ses cours à distance est de solliciter en permanence les étudiants pour les rendre acteurs de leur cours !</p>

            </div>
        </li>

        <li class="item-a slider-comments">
            <!--slider-box-->
            <div class="box-blanche-slide">
                <!--Prenom et Nom de la personne-->
                <h3 class="info">Anne-Sophie</h3>
                <p>"Étant moi-même professeur, ces conseils m'ont beaucoup aidé. Petit conseil personnel : le plus important pour réussir ses cours à distance est de solliciter en permanence les étudiants pour les rendre acteurs de leur cours !</p>

            </div>
        </li>

        <li class="item-a slider-comments">
            <!--slider-box-->
            <div class="box-blanche-slide">
                <!--Prenom et Nom de la personne-->
                <h3 class="info">Anne-Sophie</h3>
                <p>"Étant moi-même professeur, ces conseils m'ont beaucoup aidé. Petit conseil personnel : le plus important pour réussir ses cours à distance est de solliciter en permanence les étudiants pour les rendre acteurs de leur cours !</p>

            </div>
        </li>

       

    </ul>
</div>