<div class="cookies-container">
    <div class="titre">
        <br>
        <h3> Salut, c'est nous...</h3>
        <h2><b>Les Cookies !</b></h2>
        <br>
        <p>Nous sommes là pour améliorer votre <br> expérience mais, en accord avec le <br> RGPD,
            nous aimerions recevoir votre <br> avis sur notre présence.
        </p>
        <img class="icone" src="/assets/Iconographie/cookies.svg" alt="icone cookies">
    </div>
    <br>
    <section class="boutons">
        <button class="refuser">
            Je refuse
        </button>

        <button class="parametrer">
            Paramétrer
        </button>

        <button class="accepter">J'accepte</button>
</div>
</section>
<br>
</div>