<div class="cookies">
    <div class="titre">
        <br>
        <h3> Salut, c'est nous...</h3>
            <h2><b>Les Cookies !</b></h2>
                <br>
                <p>Nous sommes là pour améliorer votre <br> expérience mais, en accord avec le <br> RGPD,
                    nous aimerions recevoir votre <br> avis sur notre présence.
                </p>
                <img class="icone" src="/assets/Iconographie/cookies.svg" alt="icone cookies">
    </div>
   <br>
    <section class="boutons">
        <div class="refuser">
        <p><b>Je refuse</b></p>
        </div>
        
        <div class="parametrer">
        <p><b>Paramétrer</b></p>
        </div>
        
        <div class="accepter">
            <p><b>J'accepte</b></p>
        </div>
    </section>
    <br>
</div>