<div class="titre">
    <h3> Salut, c'est nous...</h2>
        <h2><b>Les Cookies !</b></h1>
            <p>Nous sommes là pour améliorer votre <br> expérience mais, en accord avec le <br> RGPD,
                nous aimerions recevoir votre <br> avis sur notre présence.
            </p>
            <img class="cookies" src="/assets/Iconographie/cookies.svg" alt="icone cookies">
        </div>

            
<div class="refuser">
<p>Je refuse</p>
</div>

<div class="parametrer"></div>
<p>Paramétrer</p>
</div>

<div class="accepter">
    <p>J'accepte</p>
</div>

</div>