<div class="form">
    <h2 class="h2fo">Si vous avez une astuce à partager, c'est ici !</h2>

    <div class="container">

        <form action="mailto:valentinvalentinelli@gmail.com">

        <div class="row">
          <div class="col-75">
            <input type="text" id="name" name="firstname" placeholder="Votre nom...">
          </div>
        </div>

        <div class="row">
          <div class="col-75">
            <input type="text" id="subject" name="subject" placeholder="Votre sujet...">
          </div>
        </div>

        <div class="row">
          <div class="col-75">
            <textarea id="subject" name="subject" placeholder="Écrivez quelque chose..." style="height:200px width:375px"></textarea>
          </div>
        </div>

        <div class="row">
          <center>
          <input type="submit" value="Envoyer">
        </center>
        </div>
        
    </form>

      </div>

</div>
















</div>