<div>
    <h2>Si vous avez une astuce à partager, c'est ici !</h2>

    <div>
        <form action="mailto:valentinvalentinelli@gmail.com" method="post" name="contact">
            <input type="text" id="name" name="name" placeholder="Nom">           
            
            <textarea id="subject" name="subject" placeholder="Écrivez quelque chose..."></textarea>
            
            <!-- ReCAPTCHA À FAIRE-->

            <input type="submit" value="Envoyer">
        </form>
    </div>



















</div>