<section class="introduction">
  
  <div class="introduction-background">
    <h2><b>Papijak</b></h2>
    <img
      class="pc"
      src="/assets/iconographie/illustrations/Illus2.svg"
      alt="illustration pc"
    />
  </div>
  <div class="introduction-contenu">
    <h1>
      <b> Dynamiser son cours à distance </b>
    </h1>
    <p>
      Laissez-nous vous présenter en 6 étapes comment établir une véritable
      dynamique entre vous et vos élèves.
	</p>
	<!-- Inserer l'icone indiquant de swipe -->
	<!-- Inserer "en savoir plus" --> 
  </div>
</section>
