<section class="introduction">
  
  <div class="introduction-background">
    <img class="logo" src="/assets/iconographie/papijak_logo.svg" alt="logo papijak">
    <img
      class="pc"
      src	="/assets/iconographie/illustrations/Illus2.svg"
      alt="illustration pc"
    />
  </div>
  <div class="introduction-contenu">
    <h1>
      <b> Dynamiser son cours à distance </b>
    </h1>
    <p>
      Laissez-nous vous présenter en 6 étapes comment établir une véritable
      dynamique entre vous et vos élèves.
  </p>
  <div class="swipe-up">
    <img class="arrow" src="/assets/iconographie/arrow.svg" alt="flèche swipe up">
  </div>
</section>
