<div class="learningmethods">

  <h2 class="h2lm">Méthodes d'apprentissage</h2>
    <br>
  <div class="boxh3">
    <h3 class="h3lm">Apprentissage synchrone</h3>
  </div>

  <div class="boxp">
    <p>
      L’apprentissage synchrone fait référence à un enseignement durant lequel un
      groupe de participants apprend en même temps. <bold>Les élèves et l’enseignant se
      trouvent dans le même espace virtuel au même moment</bold>. L’objectif est de
      reproduire le contexte d’enseignement naturel à distance. Cette méthode
      présente cependant peu de flexibilité.
    </p>
  </div>
    <br>
  <div class="boxh3">
    <h3 class="h3lm">Apprentissage asynchrone</h3>
  </div>

  <div class="boxp">
    <p>
      L’apprentissage asynchrone, à l’inverse, correspond à un enseignement auquel
      <bold>chaque participant apprend à son rythme</bold>. Cela peut être un </bold>cours
      préenregistré par l’enseignant</bold>. L'élève peut visionner le contenu à son
      rythme et peut retourner sur la leçon si quelque chose n’a pas bien été
      assimilé. Cette technique est flexible et permet de proposer un cours
      interactif et personnalisé.
    </p>
  </div>

</div>