<section class="learning_methods">
  <h2><b>Méthodes d'apprentissage</b></h2>
  <div class="container-bulle">
    <div class="bulle">
      <h3><b>Apprentissage synchrone</b></h3>
      <p>
        L’apprentissage synchrone fait référence à un enseignement durant lequel
        un groupe de participants apprend en même temps.
        <b
          >Les élèves et l’enseignant se trouvent dans le même espace virtuel au
          même moment</b
        >. L’objectif est de reproduire le contexte d’enseignement naturel à
        distance. Cette méthode présente cependant peu de flexibilité.
      </p>
    </div>
    <div class="bulle-two">
      <h3><b>Apprentissage asynchrone</b></h3>
      <p>
        L’apprentissage asynchrone, à l'inverse, correspond à un enseignement auquel
        <b>chaque participant apprend à son rythme</b>. Cela peut être un </b>cours
        préenregistré par l’enseignant</b>. L'élève peut visionner le contenu à son
        rythme et peut retourner sur la leçon si quelque chose n’a pas bien été
        assimilé. Cette technique est flexible et permet de proposer un cours
        interactif et personnalisé.
      </p>
    </div>
  </div>

  <!-- <div class="boxp">
    <p>
      L’apprentissage synchrone fait référence à un enseignement durant lequel un
      groupe de participants apprend en même temps. <b>Les élèves et l’enseignant se
      trouvent dans le même espace virtuel au même moment</b>. L’objectif est de
      reproduire le contexte d’enseignement naturel à distance. Cette méthode
      présente cependant peu de flexibilité.
    </p>
  </div>
    <br>
  <div class="boxh3">
    <h3 class="h3lm">Apprentissage asynchrone</h3>
  </div>

  <div class="boxp">
    <p>
      L’apprentissage asynchrone, à l’inverse, correspond à un enseignement auquel
      <b>chaque participant apprend à son rythme</b>. Cela peut être un </b>cours
      préenregistré par l’enseignant</b>. L'élève peut visionner le contenu à son
      rythme et peut retourner sur la leçon si quelque chose n’a pas bien été
      assimilé. Cette technique est flexible et permet de proposer un cours
      interactif et personnalisé.
    </p>
  </div> -->
</section>
