<div class="preambule">

    <div>  
        <h2 class="h2p">Préambule</h2>
    </div>

    <div class="boxi">
        <p>Le COVID-19 a grandement impacté l’enseignement. Une grande partie de cet enseignement se fait à distance. 
        Néanmoins, après avoir réalisé une enquête, plus de la moitié des enseignants disent ne pas être satisfaits 
        de leur enseignement à distance. Ce site est un petit guide qui regroupe plusieurs conseils pour vous permettre 
        d'optimiser votre cours à distance.</p>
    </div>

</div>
