<h2>Réguler les échanges pendant le cours</h2>

<p>Le cours à distance doit être un moment agréable pour la classe. Avant de commencer le cours demandez leurs s'ils ont bien dormis, s'ils vont bien ou s'ils ne rencontrent pas de soucis techniques. Vous pouvez également regarder si vos réglages sont bons 20 min avant la classe virtuelle. Il est important de créer une convivialité pour mettre les élèves en bonne condition pour travailler.</p>


<link rel="stylesheet" href=""/>
<link rel="stylesheet" type="text/css" href=""/>

<!--Jquery-->

<script type="text/javascript" src="js/JQuery3.3.1.js"></script>
<script type="text/javascript" src="js/lightslider.js"></script>



	<div class="container">
		<!--slider------------------->
		<ul id="autoWidth" class="cs-hidden">
		    <!--1------------------------------>
            <li class="item-a">
	                <!--slider-box-->
		            <div class="box-blanche-réguler">
		                <!--image-->
                        <img src="iconographie/réguler les échanges/megaphone.svg" class="model">
                         <!--conseil-->
                         <p class="info">Une voix dynamique !</p>
		
                         </div>
                         <p>Vous devez animer votre cours avec une voix dynamique sans en faire trop bien évidemment. Il ne faut pas parler tout doucement, votre micro est également très important. Un micro de mauvaise qualité rendra votre cours extrêmement désagréable.</p>
                   
                    </div>

            </li>













        </ul>

    </div>


<script src="js/script.js" type="text/javascript"></script>


