<h2>Réguler les échanges pendant le cours</h2>

<p>Le cours à distance doit être un moment agréable pour la classe. Avant de commencer le cours demandez leurs s'ils ont
    bien dormis, s'ils vont bien ou s'ils ne rencontrent pas de soucis techniques. Vous pouvez également regarder si vos
    réglages sont bons 20 min avant la classe virtuelle. Il est important de créer une convivialité pour mettre les
    élèves en bonne condition pour travailler.</p>

<div id="my-slider" class="tns-ovh">
    <!--slider------------------->
    <ul id="autoWidth" class="cs-hidden slider-tips">
        <!--1------------------------------>
        <li class="item-a slider-tips-slide">
            <!--slider-box-->
            <div class="box-blanche-réguler">
                <!--image-->
                <img src="/assets/iconographie/reguler_les_echanges/megaphone.svg" class="picto">
                <!--conseil-->
                <p class="info">Une voix dynamique !</p>
            </div>
            <p>Vous devez animer votre cours avec une voix dynamique sans en faire trop bien évidemment. Il ne faut pas
                parler tout doucement, votre micro est également très important. Un micro de mauvaise qualité rendra
                votre cours extrêmement désagréable.</p>
        </li>

        <li class="item-a slider-tips-slide">
            <!--slider-box-->
            <div class="box-blanche-réguler">
                <!--image-->
                <img src="/assets/iconographie/reguler_les_echanges/megaphone.svg" class="picto">
                <!--conseil-->
                <p class="info">Une voix dynamique !</p>
            </div>
            <p>Vous devez animer votre cours avec une voix dynamique sans en faire trop bien évidemment. Il ne faut pas
                parler tout doucement, votre micro est également très important. Un micro de mauvaise qualité rendra
                votre cours extrêmement désagréable.</p>
        </li>

        <li class="item-a slider-tips-slide">
            <!--slider-box-->
            <div class="box-blanche-réguler">
                <!--image-->
                <img src="/assets/iconographie/reguler_les_echanges/megaphone.svg" class="picto">
                <!--conseil-->
                <p class="info">Une voix dynamique !</p>
            </div>
            <p>Vous devez animer votre cours avec une voix dynamique sans en faire trop bien évidemment. Il ne faut pas
                parler tout doucement, votre micro est également très important. Un micro de mauvaise qualité rendra
                votre cours extrêmement désagréable.</p>
        </li>

        <li class="item-a slider-tips-slide">
            <!--slider-box-->
            <div class="box-blanche-réguler">
                <!--image-->
                <img src="/assets/iconographie/reguler_les_echanges/megaphone.svg" class="picto">
                <!--conseil-->
                <p class="info">Une voix dynamique !</p>
            </div>
            <p>Vous devez animer votre cours avec une voix dynamique sans en faire trop bien évidemment. Il ne faut pas
                parler tout doucement, votre micro est également très important. Un micro de mauvaise qualité rendra
                votre cours extrêmement désagréable.</p>
        </li>
    </ul>
</div>