<div class="fond-exchanges">

    <h2 class="line-progress">Réguler les échanges pendant le cours</h2>

    <p>Le cours à distance doit être un moment agréable pour la classe. Avant de commencer le cours demandez leurs s'ils
        ont
        bien dormi, s'ils vont bien ou s'ils ne rencontrent pas de soucis techniques. Vous pouvez également regarder si
        vos
        réglages sont bons 20 min avant la classe virtuelle. Il est important de créer une convivialité pour mettre les
        élèves en bonne condition pour travailler.</p>

    <div id="my-slider" class="tns-ovh">
        <!--slider------------------->
        <ul id="autoWidth" class="cs-hidden slider-tips">
            <!--1------------------------------>
            <li class="item-a slider-tips-slide">
                <!--slider-box-->
                <div class="box-blanche-slide">
                    <!--image-->
                    <img src="/assets/iconographie/reguler_les_echanges/megaphone.svg" class="picto">
                    <!--conseil-->
                    <h3 class="info">Une voix dynamique !</h3>
                </div>
                <p>Vous devez animer votre cours avec une voix dynamique sans en faire trop bien évidemment. Il ne faut
                    pas
                    parler tout doucement, votre micro est également très important. Un micro de mauvaise qualité rendra
                    votre cours extrêmement désagréable.</p>
            </li>

            <li class="item-a slider-tips-slide">
                <!--slider-box-->
                <div class="box-blanche-slide">
                    <!--image-->
                    <img src="/assets/iconographie/reguler_les_echanges/video-call.svg" class="picto">
                    <!--conseil-->
                    <h3 class="info">Activez la webcam</h3>
                </div>
                <p>Si possible, demandez aux élèves d’activer leur caméra. Avoir un visage en face de soi est beaucoup plus agréable, que l’on se trouve du côté du professeur ou des apprenants.</p>
            </li>

            <li class="item-a slider-tips-slide">
                <!--slider-box-->
                <div class="box-blanche-slide">
                    <!--image-->
                    <img src="/assets/iconographie/reguler_les_echanges/mode_avion.svg" class="picto">
                    <!--conseil-->
                    <h3 class="info">Activez le mode avion</h3>
                </div>
                <p>Demandez aux élèves de mettre leurs téléphones en mode avion pour éviter toute perturbation. En restant à la maison l’élève est entouré d’objets et de choses qui peuvent le distraire, contrairement à la salle de classe ou il n'y a qu'une table, son cahier et sa trousse. </p>
            </li>

            <li class="item-a slider-tips-slide">
                <!--slider-box-->
                <div class="box-blanche-slide">
                    <!--image-->
                    <img src="/assets/iconographie/reguler_les_echanges/cadre.svg" class="picto">
                    <!--conseil-->
                    <h3 class="info">Un cadre adéquat</h3>
                </div>
                <p>Si la classe virtuelle peut
                    être suivie de n’importe où même depuis son lit, il est important que l’étudiant se trouve dans un cadre propice au travail. (une table dans sa chambre, un endroit calme...)</p>
            </li>

            <li class="item-a slider-tips-slide">
                <!--slider-box-->
                <div class="box-blanche-slide">
                    <!--image-->
                    <img src="/assets/iconographie/reguler_les_echanges/chat.svg" class="picto">
                    <!--conseil-->
                    <h3 class="info">Modérez la discussion</h3>
                </div>
                <p>Vous pouvez demander aux délégués de classe de veiller à ce que les questions et les interactions reste pertinentes. Il faut garder l’interaction centrée sur votre cours.</p>
            </li>

            <li class="item-a slider-tips-slide">
                <!--slider-box-->
                <div class="box-blanche-slide">
                    <!--image-->
                    <img src="/assets/iconographie/reguler_les_echanges/speech-bubble.svg" class="picto">
                    <!--conseil-->
                    <h3 class="info">Utilisez le chat</h3>
                </div>
                <p>Pour poser des questions, n’hésitez pas à inciter vos
                    élèves a utiliser le chat virtuel pour échanger concernant le cours. A peu près tous les logiciels de visioconférence ont un chat virtuel et cela vous
                    permettra de donner une réponse personnalisée a l’apprenant.</p>
            </li>

            <li class="item-a slider-tips-slide">
                <!--slider-box-->
                <div class="box-blanche-slide">
                    <!--image-->
                    <img src="/assets/iconographie/reguler_les_echanges/coffee-break.svg" class="picto">
                    <!--conseil-->
                    <h3 class="info">Faites des pauses</h3>
                </div>
                <p>Si votre cours est très long n’hésitez pas à faire de petites pauses avoir un
                    cours académique de 2h ou 3h n’est pas toujours facile. Que ce soit du
                    côté du professeur ou du côté de l’apprenant. Aérez votre visioconférence avec 10 à 15 min de pause chaque heure.</p>
            </li>



        </ul>
    </div>

</div>