<section class="softwares">
  <h2><b>Quelques logiciels pour vous aider</b></h2>
  <div class="container-btn">
      <button class="btn">
        <img
          class="logo"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/discord.svg"
          alt="logo du logiciel discord"
        />
        <p>Discord</p>
        <div class="background-plus">
          <img
            class="plus"
            src="assets/iconographie/quelques_logiciels/+ des pop up.svg"
            alt="bouton permettant d'ouvrir le pop up"
          />
      </button>
      <button class="btn">
        <img
          class="logo"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/classroom.svg"
          alt="logo du logiciel classroom"
        />
        <p>Google Classroom</p>
        <div class="background-plus">
          <img
            class="plus"
            src="assets/iconographie/quelques_logiciels/+ des pop up.svg"
            alt="bouton permettant d'ouvrir le pop up"
          />
      </button>
      <button class="btn">
        <img
          class="logo"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/meet.svg"
          alt="logo du logiciel meet"
        />
        <p>Google Meet</p>
        <div class="background-plus">
          <img
            class="plus"
            src="assets/iconographie/quelques_logiciels/+ des pop up.svg"
            alt="bouton permettant d'ouvrir le pop up"
          />
      </button>
      <button class="btn">
        <img
          class="logo"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/zoom.svg"
          alt="logo du logiciel zoom"
        />
        <p>Zoom</p>
        <div class="background-plus">
          <img
            class="plus"
            src="assets/iconographie/quelques_logiciels/+ des pop up.svg"
            alt="bouton permettant d'ouvrir le pop up"
          />
      </button>
      <button class="btn">
        <img
          class="logo"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/teams.svg"
          alt="logo du logiciel teams"
        />
        <p>Microsoft Teams</p>
        <div class="background-plus">
          <img
            class="plus"
            src="assets/iconographie/quelques_logiciels/+ des pop up.svg"
            alt="bouton permettant d'ouvrir le pop up"
          />
      </button>
      <button class="btn">
        <img
          class="logo"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/kahoot.svg"
          alt="logo du logiciel kahoot"
        />
        <p>Kahoot!</p>
        <div class="background-plus">
          <img
            class="plus"
            src="assets/iconographie/quelques_logiciels/+ des pop up.svg"
            alt="bouton permettant d'ouvrir le pop up"
          />
      </button>
  
    
  </div>
</section>
