<section class="softwares">
  <h2><b>Quelques logiciels pour vous aider</b></h2>
  <div class="container-btn">
      <button class="btn">
        <img
          class="logo"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/discord.svg"
          alt="logo du logiciel discord"
        />
        <p>Discord</p>
        <div class="background-plus">
          <img
            class="plus"
            src="assets/iconographie/quelques_logiciels/+ des pop up.svg"
            alt="bouton permettant d'ouvrir le pop up"
          />
      </button>
      <div class="pop-up">
        <div class="pop-up-exit">
          <img src="">
        </div>
        <div class="pop-up-contenu">

          <img
          class="logo-pop-up"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/discord.svg"
          alt="logo du logiciel discord"
        />
        <h3>Discord</h3>
        <p class="pop-up-paragraphe">A l'origine dédié aux pros du jeu-vidéo, Discord est devenu une platefetorme de communication sur serveurs très complète.</p>
      </div>
        <div class="list-review">
        <ul>
          <li><img class="pop-up-icon" src="assets/iconographie/quelques_logiciels/checked_pop_up.svg" alt="Un check vert qui indique que les points sont positif"><p>Gratuit</p></li>
          <li><img class="pop-up-icon" src="assets/iconographie/quelques_logiciels/checked_pop_up.svg" alt="Un check vert qui indique que les points sont positif"><p>Réunis discussion, visios et partage de documents</p></li>
          <li><img class="pop-up-icon" src="assets/iconographie/quelques_logiciels/checked_pop_up.svg" alt="Un check vert qui indique que les points sont positif"><p>Permet d'avoir différents salons de discussion en un seul serveur</p></li>
          <li><img class="pop-up-icon" src="assets/iconographie/quelques_logiciels/croix_pop_up.svg" alt="Une croix rouge qui indique les points négatif"><p>Pas très intuitif</p></li>
          <li><img class="pop-up-icon" src="assets/iconographie/quelques_logiciels/croix_pop_up.svg" alt="Une croix rouge qui indique les points négatif"><p>Difficulté à gérer un serveur pour les débutants</p></li>
        </ul>
        <div class="download">
          <img class="download-icon" src="assets/iconographie/quelques_logiciels/app_store.png" alt="Logo de app store">
          <img class="download-icon" src="assets/iconographie/quelques_logiciels/android_app.png" alt="Logo de app store">
        </div>
      </div>
      </div>
        <!--   <img class="pop-up-icon" src="assets/iconographie/quelques_logiciels/checked_pop_up.svg"><p>Réunit discussion, visios et partage de documents</p>
          <img class="pop-up-icon" src="assets/iconographie/quelques_logiciels/checked_pop_up.svg"><p>Permet d'avoir différents salons de discussion en un seul serveur</p>
          <img class="pop-up-icon" src="assets/iconographie/quelques_logiciels/croix_pop_up.svg"><p>Pas très intuitif</p>
          <img class="pop-up-icon" src="assets/iconographie/quelques_logiciels/croix_pop_up.svg"><p>Difficulté à gérer un serveur pour les débutants</p>
           -->
<!--         </div>   -->
        
     
      <button class="btn">
        <img
          class="logo"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/classroom.svg"
          alt="logo du logiciel classroom"
        />
        <p>Google Classroom</p>
        <div class="background-plus">
          <img
            class="plus"
            src="assets/iconographie/quelques_logiciels/+ des pop up.svg"
            alt="bouton permettant d'ouvrir le pop up"
          />
      </button>
      <button class="btn">
        <img
          class="logo"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/meet.svg"
          alt="logo du logiciel meet"
        />
        <p>Google Meet</p>
        <div class="background-plus">
          <img
            class="plus"
            src="assets/iconographie/quelques_logiciels/+ des pop up.svg"
            alt="bouton permettant d'ouvrir le pop up"
          />
      </button>
      <button class="btn">
        <img
          class="logo"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/zoom.svg"
          alt="logo du logiciel zoom"
        />
        <p>Zoom</p>
        <div class="background-plus">
          <img
            class="plus"
            src="assets/iconographie/quelques_logiciels/+ des pop up.svg"
            alt="bouton permettant d'ouvrir le pop up"
          />
      </button>
      <button class="btn">
        <img
          class="logo"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/teams.svg"
          alt="logo du logiciel teams"
        />
        <p>Microsoft Teams</p>
        <div class="background-plus">
          <img
            class="plus"
            src="assets/iconographie/quelques_logiciels/+ des pop up.svg"
            alt="bouton permettant d'ouvrir le pop up"
          />
      </button>
      <button class="btn">
        <img
          class="logo"
          src="assets/iconographie/quelques_logiciels/logiciels_logo/kahoot.svg"
          alt="logo du logiciel kahoot"
        />
        <p>Kahoot!</p>
        <div class="background-plus">
          <img
            class="plus"
            src="assets/iconographie/quelques_logiciels/+ des pop up.svg"
            alt="bouton permettant d'ouvrir le pop up"
          />
      </button>
  
    
  </div>
</section>
