<div class="container-softwares">
  <h2>Quelques logiciel pour vous aider</h2>
  <div class="container-btn">
    <button class="btn">
      <img
        src="assets/iconographie/quelques_logiciels/logiciels_logo/discord.svg"
        alt="logo du logiciel discord"
      />
      <p>Discord</p>
    </button>
    <button class="btn">
        <img
          src="assets/iconographie/quelques_logiciels/logiciels_logo/classroom.svg"
          alt="logo du logiciel google classroom"
        />
        <p>Google Classroom</p>
      </button>
      <button class="btn">
        <img
          src="assets/iconographie/quelques_logiciels/logiciels_logo/meet.svg"
          alt="logo du logiciel google meet"
        />
        <p>Google meet</p>
      </button>
      <button class="btn">
        <img
          src="assets/iconographie/quelques_logiciels/logiciels_logo/zoom.svg"
          alt="logo du logiciel zoom"
        />
        <p>Zoom</p>
             <button class="btn">
        <img
          src="assets/iconographie/quelques_logiciels/logiciels_logo/teams.svg"
          alt="logo du logiciel microsoft team"
        />
        <p>Microsoft Teams</p>
      </button>
             <button class="btn">
        <img
          src="assets/iconographie/quelques_logiciels/logiciels_logo/kahoot.svg"
          alt="logo du logiciel google meet"
        />
        <p>Kahoot!</p>
      </button>
  </div>
</div>
