<div>
<h2>Le Kit pour une vidéoconférence réussie</h2>

<img src="iconographie"

<p><b>Un ordinateur</b> fixe / portable ou une tablette.</p>

<p><b>Un casque ou des écouteurs.</b> Pour éviter les échos à cause des hauts-parleurs.</p>
<p><b>Un microphone.</b>Essayez d'investir dans un micro d'assez bonne qualité. Dans le cadre d'une classe virtuelle, l'audio est encore plus important que la vidéo. Si votre son est mauvais ou s'il y a de l'écho à cause de la pièce, vos élèves ne seront pas réceptifs à vos explications.</p>
<p><b>Une webcam.</b> Ici il n'est pas nécessaire de casser votre tirelire! La caméra servira à créer un contact visuel.</p>
<p><b>Une connexion internet stable.</b> Essayez de vous mettre à un endroit où la connexion est bonne. Il est important d'avoir une bonne bande passante pour éviter tout problème technique.</p>
</div>
