<div class="visiofond">


<h2 class="positiontitre"><b class="line-progress">Le Kit pour une <br/>vidéoconférence réussie</b></h2>
    


<section class="mefsection">
    <img class="kiticone" src="assets/Iconographie/kit_visio_reussie/ordi+tablette.svg" alt="icône ordinateur"/>
    <p class="position"><bold>Un ordinateur</bold> fixe / portable ou une tablette.</p>
</section>



<section class="mefsection">
    <img  class="kiticone" src="assets/Iconographie/kit_visio_reussie/headphones.svg" alt="icône écouteurs"/>
    <p class="position"><bold>Un casque ou des écouteurs.</bold> Pour éviter les échos à cause des hauts-parleurs.</p>
</section>



<section class="mefsection">
    <img class="kiticone" src="assets/Iconographie/kit_visio_reussie/microphone.svg" alt="icône micro"/>
    <p class="position"><bold>Un microphone.</bold> Essayez d'investir dans un micro d'assez bonne qualité. Dans le cadre d'une classe virtuelle, l'audio est encore plus important que la vidéo. Si votre son est mauvais ou s'il y a de l'écho à cause de la pièce, vos élèves ne seront pas réceptifs à vos explications.</p>
</section>



<section class="mefsection">
    <img class="kiticone" src="assets/Iconographie/kit_visio_reussie/webcam.svg" alt="icône webcam"/>
    <p class="position"><bold>Une webcam.</bold> Ici il n'est pas nécessaire de casser votre tirelire! La caméra servira à créer un contact visuel.</p>
</section>


<section class="mefsection">
    <img class="kiticone" src="assets/Iconographie/kit_visio_reussie/global_network.svg" alt="icône internet"/>
    <p class="positionfin"><bold>Une connexion internet stable.</bold> Essayez de vous mettre à un endroit où la connexion est bonne. Il est important d'avoir une bonne bande passante pour éviter tout problème technique.</p>
</section>


</div>
