<main>
    {% include pages/sections/introduction.html %}

    {% include pages/sections/preamble.html %}

    {% include commons/components/navigation_bar.html %}

    {% include pages/sections/learning_methods.html %}

    {% include pages/sections/adapt_your_courses.html %}

    {% include pages/sections/animate_your_courses.html %}

    {% include pages/sections/regulate_exchanges.html %}

    {% include pages/sections/visiokit.html %}

    {% include pages/sections/softwares.html %}

    {% include pages/sections/comments.html %}

    {% include pages/sections/form.html %}

    {% include pages/sections/cookies.html %}


</main>

