.adapt{
    background-color: #F0F0F0;
}

.taille_adapt{
    height: 50px;
    widows: 50px;
    object-fit: cover;
}

.taille_symbole{
    height: 50px;
    widows: 50px;
    object-fit: cover;
}

.consigne{
    text-align: center;
}

.text_box{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}