.animer{
    background-color: #E8E8E8;
}

.align_animate{
    text-align: center;
}

.titre_section{
    background-color: #05668D;
    display: flex; 
    flex-wrap: wrap;
    padding: 5px;
    margin-right: 175px;
    margin-left: 10px;
    border-radius: 5px;
}

.titre_color{
    color: #FFFFFF;
}

.contenu_section{
    background-color: #FFFFFF;
    display: flex; 
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #E8E8E8;
}