.comments {
    background-color: #E8E8E8;
}

.bravo{
    text-align: center;
    font-family: $titre-font;
    font-size: $titre-size;
}

.trophee{
    height: 100px;
    widows: 100px;
    object-fit: cover;

}

.text_comments{
    text-align: center;
    font-family:$paragraphe-font; 
    font-size:$paragraphe-size;
    margin: 15px;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.inner-slide {
    h3 {
        font-family: $sous-sous-titre-font;
        font-size: $sous-sous-titre-size;
        
    }

    p {
        text-align: justify;
        padding-top: 10px;
        font-family:$paragraphe-font; 
        font-size:$paragraphe-size;
    }
}

