.comments{
    background-color: #E8E8E8;
}

.bravo{
    text-align: center;
}

.trophee{
    height: 100px;
    widows: 100px;
    object-fit: cover;

}

.text_comments{
    text-align: center;

    h1{
        font-family: $titre-font;
        font-size: $titre-size;
    }
    
    p{
        font-family:$paragraphe-font; 
        font-size:$paragraphe-size;
        margin: 15px;
    }
}