footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    height: 88px;
    font-size: $paragraphe-size;
    font-family: $paragraphe-font;


}