.learningmethods {
    background-color: #FCFCFC;
}

bold {
    font-weight: bold;
}

.h2lm {
    text-align: center;
    font-size: 25px;
}

.h3lm {
    color: #FFFFFF;
    font-weight: 300;
}

.boxp {
    background-color: #FFFFFF;
    display: flex; 
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #E8E8E8;
}

.boxh3 {
    background-color: #05668D;
    display: flex; 
    flex-wrap: wrap;
    padding: 5px;
    margin-right: 175px;
    margin-left: 10px;
    padding-top: -20px;
    padding-bottom: -20px;
    border-radius: 5px;
}