.learning_methods {
  background-color: #fcfcfc;
  h2 {
    text-align: center;
    padding: 27px 30px;
    font-size: $sous-titre-size;
    font-family: $titre-font;
  }
  .container-bulle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bulle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
    padding: 11px;
    width: 342px;
    height: 258px;
    box-shadow: $box-shadow;
    border-radius: 12px;
    h3 {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-9%,-60%);
      padding: 10px;
      border-radius: 12px;
      color: #ffffff;
      background-color: #05668d;
      font-size: $paragraphe-size;
      font-family: $paragraphe-font;
    }
  }
  .bulle-two {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
    width: 342px;
    height: 258px;
    box-shadow: $box-shadow;
    border-radius: 12px;
    h3 {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-9%,-42%);
      padding: 10px;
      border-radius: 12px;
      color: #ffffff;
      background-color: #05668d;
      font-size: $paragraphe-size;
      font-family: $paragraphe-font;
    }
    p{

        padding: 76px 11px 66px 11px;
    }
  }
}
/* 
bold {
    font-weight: bold;
}

.h2lm {
    text-align: center;
    font-family:$sous-titre-size;
    font-family:$titre-font
    
}

.h3lm {
    color: #FFFFFF;
    font-family:$sous-titre-size;
    font-family: $sous-titre-font;
}

.boxp {
    background-color: #FFFFFF;
    display: flex; 
    flex-wrap: wrap;
    margin: 25px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #E8E8E8;
}

.boxh3 {
    background-color: #05668D;
    display: flex; 
    flex-wrap: wrap;
    padding: 5px;
    margin-right: 135px;
    margin-left: 10px;
    padding-top: -20px;
    padding-bottom: -20px;
    border-radius: 5px;
} */
