.navigation {
  z-index: 999;
  position: sticky;
  top: 0;
  background-color: #dcdcdc;
  box-shadow: $box-shadow;

  .navigation-fake {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 17px 26px;
    background-color: #dcdcdc;

    .navigation-decoration {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 280px;
      height: 2px;
      background-color: #707070;
    }
    .navigation_icon {
      position: relative;
      z-index: 999;
      height: 26px;
      width: 26px;
      transform: scale(0.8);
      opacity: 15%;
      object-fit: cover;
      transition: transform 0.6s ease;
      &.is-active {
        transform: scale(1);
        height: 39px;
        width: 39px;
        opacity: 100%;
      }
    }
    .icon-background {
      z-index: 998;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      height: 37px;
      width: 37px;
      border-radius: 50%;
      box-shadow: $box-shadow;
    }
  }
}
