.preambule {
  background-color: $first-theme-color;
  padding: 20px 39px 15px 39px;
  h2 {

    font-size: $sous-titre-size; 
    font-family: $sous-titre-font; 
    margin-bottom: 12px;
  }
  
  p{
      font-family:$paragraphe-font; 
      font-size:$paragraphe-size; 
      line-height: 24px;
  }
}
