.softwares {
  background-color: $first-theme-color;
  h2 {
    text-align: center;
    padding: 33px 46px 33px 46px;
    font-size: $sous-titre-size;
    font-family: $sous-titre-font;
  }
  .container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
      outline: none;
      height: 54px;
      width: 342px;
      border-radius: 15px;
      margin-bottom: 39px;
      cursor: pointer;
      background: whitesmoke;
      box-shadow: $box-shadow;
      transition: transform 0.2s ease;
      &:active {
        transform: translateY(2px);
      }

      .logo {
        height: 41px;
        width: 41px;
      }
      .background-plus {
        position: relative;
        width: 28px;
        height: 32px;
        padding: 6px;
        border-radius: 8px;
        background-color: $bouton-plus;
        box-shadow: $box-shadow;
      }
      .plus {
        position: absolute;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 14px;
        border-radius: 5px;
      }
      p {
        text-align: left;
        width: 250px;
        padding-left: 10px;
        font-size: 18px;
        font-family: $paragraphe-font;
      }
    }
    .pop-up {
      text-align: center;
      height: 569px;
      width: 342px;
      background-color: #fff;
      border-radius: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      .logo-pop-up {
        height: 41px;
        width: 41px;
        margin-bottom: 15px;
      }
      .pop-up-contenu {
        margin-top: 62px;

        h3 {
          font-family: $paragraphe-font;
          font-size: $sous-titre-size;
          margin-bottom: 20px;
        }
        p {
          text-align: center;
          font-size: $paragraphe-size;
          font-family: $sous-sous-titre-font;
          line-height: 24px;
          height: 72px;
          width: 304px;
        }
      }
    }
  }
}
