.container-softwares {
  h2 {
    text-align: center;
    margin: 20px; 
  }
  .container-btn{
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
  }
}
