.visiofond{
    background-color:#E8E8E8;
}

.kiticone {
    height:30px;
    widows:30px;
    object-fit: cover;
    margin-right: 10px;
}

.position{
    text-align: center;
}

.positiontitre{
    text-align:center;
}

bold{
    font-weight: bold;
}


.mefsection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;

}