.visiofond{
    background-color:#E8E8E8;
}

.kiticone {
    height:30px;
    widows:30px;
    object-fit: cover;
    margin-right: 10px;
}

.position{
    text-align: center;
    text-align: justify;
    font-family: $paragraphe-font;
    font-size: $paragraphe-size;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.positionfin {
    text-align: center;
    text-align: justify;
    font-family: $paragraphe-font;
    font-size: $paragraphe-size;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;

}

.positiontitre{
    text-align:center;
    font-family: $titre-font;
    font-size: $sous-titre-size;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;

}

bold{
    font-weight: bold;
}


.mefsection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;

}