.visiofond{
    background-color:#E8E8E8;
}

.kiticone {
    height:25px;
    widows:25px;
    object-fit: cover;
}

.position{
    text-align: center;
}

bold{
    font-weight: bold;
}

.posicone{
    display:flex;
    justify-content: space-around;
    justify-content: flex-end;
    flex-direction: column;
}