<!DOCTYPE html>
<html lang="fr-France">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>One Page de l'agence Papijak / professeur</title>
    <link rel="shortcut icon"  type="image/jpg" href="assets/iconographie/papijak_onglet_bon_format.jpg">
    <link rel="stylesheet" href="/assets/css/main.css">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

 
  </head>
  <body>
    {% include commons/header.html %}

    {% include pages/home.html %}

    {% include commons/footer.html %}
  </body>
</html>
