<div class="navigation">
    <img class="taille_navig" src="/assets/iconographie/bulles/methodes_d'apprentissage.svg" alt="icone méthode apprentissage">
    <img class="taille_navig" src="/assets/iconographie/bulles/Adapter_ses_cours.svg" alt="icone adapter ses cours">
    <img class="taille_navig" src="/assets/iconographie/bulles/Animer_son_cours.svg" alt="icone animer ses cours">
    <img class="taille_navig" src="/assets/iconographie/bulles/Reguler_les_echanges_en_classe.svg" alt="icone réguler les échanges">
    <img class="taille_navig" src="/assets/iconographie/bulles/Le_kit_pour_une_visio_reussie.svg" alt="icone kit visio réussie">
    <img class="taille_navig" src="/assets/iconographie/bulles/Quelques_logiciel.svg" alt="icone logiciels">
</div>