//Couleurs Principales
$vert-principal: #23BF96;
$bleu-principal: #05668D;

//Couleurs de Fond
$Gris-éclairé: #F0F0F0;
$blanc-cassé: #E8E8E8;

//Couleurs textes selon le fond
$couleur-txt-fond-clair: #000000;
$Couleur-txt-fond-sombre: #FFFFFF;

